In [1]:
import pandas as pd
import numpy as np
import random
import datetime
import re
import string

In [2]:
random.seed(1994)

## Generate Website Log Data

In [3]:
df = pd.DataFrame()

In [4]:
rows = 2000

In [5]:
website_li = ['Amazon','taobao']
random_index = np.random.randint(0,len(website_li),size=rows).tolist()
website = [website_li[i] for i in random_index]

In [6]:
pageVersion_li = ['web','mobile', 'app']
random_index = np.random.randint(0,len(pageVersion_li),size=rows).tolist()
pageVersion = [pageVersion_li[i] for i in random_index]

In [7]:
actionID_li = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
random_index = np.random.randint(0,len(actionID_li),size=rows).tolist()
actionID = [actionID_li[i] for i in random_index]

In [8]:
actionID_li = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [9]:
def date_generater(start_time, end_time):
    # confirm input is string type
    if not(isinstance(start_time, str) and isinstance(end_time, str)):
        raise TypeError('date format must be a string')
        
    # confirm date format is correct  
    if (re.fullmatch(pattern=r'\d{4}(0[1-9]|1[0-2])([0-2][0-9]|3[0-1])' , string = start_time, flags=0) == None) or (
        re.fullmatch(pattern=r'\d{4}(0[1-9]|1[0-2])([0-2][0-9]|3[0-1])' , string = end_time, flags=0) == None):
        raise ValueError('date format is wrong')

    year, month, day = int(start_time[0:4]), int(start_time[4:6]), int(start_time[6:8])
    start = datetime.date(year, month, day)

    year, month, day = int(end_time[0:4]), int(end_time[4:6]), int(end_time[6:8])
    end = datetime.date(year, month, day)

    # start = datetime.datetime.strptime('2020-10-08', "%Y-%m-%d").date()
    # end = datetime.datetime.strptime('2020-10-10', "%Y-%m-%d").date()
    # datetime.timedelta: 用來做時間的間隔或兩時間的差，可與 datetime.date 做加減
    date_list = [start + datetime.timedelta(days=i) for i in range((end - start).days+1)]
    return date_list

In [10]:
datetime_li = date_generater('20200101', '20200110')
random_index = np.random.randint(0,len(datetime_li),size=rows).tolist()
datetime = [datetime_li[i] for i in random_index]

In [11]:
df['datetime'] = datetime
df['website'] = website
df['page_version'] = pageVersion
df['actionID'] = actionID

In [12]:
df

        datetime website page_version actionID
0     2020-01-10  taobao       mobile        9
1     2020-01-03  Amazon       mobile        2
2     2020-01-01  Amazon          app        7
3     2020-01-03  Amazon          app        8
4     2020-01-07  taobao          app        4
...          ...     ...          ...      ...
1995  2020-01-06  Amazon          web        2
1996  2020-01-07  taobao          app        3
1997  2020-01-03  taobao       mobile        1
1998  2020-01-07  taobao          app        8
1999  2020-01-09  taobao          web        2

[2000 rows x 4 columns]

In [13]:
df.to_pickle("../Data/web_lod_data.pkl")

## Generate Search Items on Internal Website

In [14]:
letter_li = list(string.ascii_letters)*10
weights = np.random.randint(0,10,size=len(letter_li)).tolist()
random_letter_li = random.choices(letter_li, weights=weights, k=len(letter_li))

In [15]:
word_li = ['詞彙']*len(letter_li)

In [16]:
word_li = [word+letter for word, letter in zip(word_li, random_letter_li)]

In [17]:
df = pd.DataFrame(word_li, columns=['keyword'])

In [18]:
df.to_pickle("../Data/keyword.pkl")

In [19]:
df

    keyword
0       詞彙I
1       詞彙m
2       詞彙b
3       詞彙J
4       詞彙v
..      ...
515     詞彙z
516     詞彙w
517     詞彙m
518     詞彙B
519     詞彙c

[520 rows x 1 columns]